<main class="container mt-5 text-center">
  <h1 class="titulo">CONTACTANOS</h1>

  <div class="container">
    <div class="contact-info">
      <p class="horario">Cualquier consulta, mándanos un mensaje</p>
      <p class="horario">
        <img src="assets/img/iconos/icon_telefono.png" width="20px" height="20px" />
        1178521063
      </p>
       <p class="horario">
          <img src="assets/img/iconos/icon_correo.png" width="20px" height="20px" />
          ARpc-componente&#64;gmail.com
        </p>
      <div class="d-flex justify-content-center mt-3">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.578984828196!2d-122.08374368432952!3d37.42199907983414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbc24761a0077%3A0x4a4de0cfd4ce09b3!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1594568031969!5m2!1sen!2sus"
          width="300"
          height="200"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br />
</main>
