<br>
<div class="container mt-5">
    <div class="card p-4 mx-auto my-5 shadow-lg rounded-3" style="max-width: 450px;">
        <div class="card-body">
            <h2 class="text-center mb-4 text-primary fw-bold">Iniciar Sesión</h2>
            <form (ngSubmit)="iniciarSesion()">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" id="user" class="form-control" [(ngModel)]="user" name="user" required placeholder="Usuario">
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required placeholder="Contraseña">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill">Ingresar</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <a routerLink="/registrarse" class="text-primary text-decoration-none me-2">Crear nuevo Usuario</a>
            </div>
        </div>
    </div>
</div>
<br>



